<% layout('layout') -%>
<div class="jumbotron">
  <div class="container">
    <h1>re:gift</h1>
    <h4>find thousands of new and used gifts at huge discounts, or sell your own</h4>
    <a href="/signup" class="btn btn-primary" role="button">Sign Up</a>
    <a href="/login" class="btn btn-success" role="button">Log In</a>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>Browse Gifts</h3>
      <img src="http://lorempixel.com/300/300">
    </div>
    <div class="col-md-4">
      <h3>Sell Gifts</h3>
      <img src="http://lorempixel.com/300/300">
    </div>
    <div class="col-md-4">
      <h3>How It Works</h3>
      <img src="http://lorempixel.com/300/300">
    </div>
  </div>
</div>